In [1]:
import pandas as pd
import os
import re

In [2]:
lost_path = "lost_results.csv" 
lost_df = pd.read_csv(lost_path)
lost_df

,Type / Creator / Imprint,title,Barcode,Inventory Number,Receiving Number,Library,Library Unit,Temporary Library,Creation Date,Modification Date,...,Material Type,Copy ID,Description,Unnamed: 36,Orders,Requests,Peer Reviewed,Item ID,Holdings ID,MMS ID
0,"Book By Lawrence, Mark (Ace Books 20170404)",Red Sister,33082012289335,NaN,NaN,Boatwright Memorial Library,NaN,NaN,9/19/2017 20:00:00,11/8/2020 19:05:43,...,Book,0.0,NaN,NaN,0,0,NaN,2389850570006241,2289850580006241,9922033313606241
1,"Book By Livesey, Margot (Harper 20160927)",Mercury,33082012283122,NaN,NaN,Boatwright Memorial Library,NaN,NaN,9/17/2017 20:00:00,11/8/2020 19:04:04,...,Book,0.0,NaN,NaN,0,0,NaN,23109310650006241,22109310660006241,9922023283606241
2,"Book By Smith, Pamela H., (Ann Arbor : Univers...",Ways of making and knowing : the material cult...,33082011802245,NaN,NaN,Boatwright Memorial Library,NaN,NaN,5/12/2015 20:00:00,11/8/2020 19:01:33,...,Book,0.0,NaN,NaN,0,0,NaN,23113347350006241,22113347360006241,9917370583606241
3,"Book By Csikszentmihalyi, Mihaly. (Oxford ; Ne...",A life worth living : contributions to positiv...,33082009480889,NaN,NaN,Boatwright Memorial Library,NaN,NaN,7/5/2006 20:00:00,11/8/2020 19:01:30,...,Book,0.0,NaN,NaN,0,0,NaN,23112280520006241,22112280530006241,998483803606241
4,"Book By Ong, Anthony D. (Oxford ; New York : O...",Oxford handbook of methods in positive psychol...,33082009900084,NaN,NaN,Boatwright Memorial Library,NaN,NaN,1/7/2007 19:00:00,11/8/2020 19:01:23,...,Book,0.0,NaN,NaN,0,0,NaN,23106540950006241,22106540960006241,998635113606241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,"Book By Weldon, Fay. (Head of Zeus 20180401)",Death of a She Devil,33082012492483,NaN,NaN,Boatwright Memorial Library,NaN,NaN,5/5/2019 20:00:00,11/7/2020 19:02:04,...,Book,0.0,NaN,NaN,0,0,NaN,23127721560006241,22127721570006241,9924929003606241
338,"Book By Sharp, Zoë, (Houston : Busted Flush P...",Killer instinct / Zoë Sharp.,33082010926482,NaN,NaN,Boatwright Memorial Library,NaN,NaN,10/25/2010 20:00:00,10/5/2020 14:54:24,...,Book,0.0,NaN,NaN,0,0,NaN,23122350410006241,22122350420006241,9911598563606241
339,"Book By Paul, Pamela. (Henry Holt & Company 20...",By the Book: Writers on Literature and the Lit...,33082011885943,NaN,NaN,Boatwright Memorial Library,NaN,NaN,1/7/2016 19:00:00,6/23/2020 02:03:26,...,Book,0.0,NaN,NaN,0,0,NaN,23101964170006241,22101964180006241,9918118073606241
340,"Music By Smith, Jean Edward. (Santa Ana, CA : ...",FDR [sound recording] / by Jean Edward Smith.,33082010194065,NaN,NaN,Boatwright Memorial Library,NaN,NaN,4/21/2008 20:00:00,6/23/2020 02:01:49,...,Sound Recording,0.0,NaN,NaN,0,0,NaN,23107874420006241,22107874430006241,999363343606241
341,"Book By Obama, Michelle, (Crown Publishing Gro...",Becoming,33082012290283,NaN,NaN,Boatwright Memorial Library,NaN,NaN,4/30/2019 20:00:00,10/14/2020 10:44:10,...,Book,0.0,NaN,NaN,0,0,NaN,23127768500006241,22127768510006241,9924928363606241

In [3]:
lost_df.columns

Index(['Type / Creator / Imprint', 'title', 'Barcode', 'Inventory Number',
       'Receiving Number', 'Library', 'Library Unit', 'Temporary Library',
       'Creation Date', 'Modification Date', 'Process type', 'To Library',
       'Expected Arrival Time', 'At Library', 'At', 'On Hold Expiration Date',
       'Due Date', 'Needed By', 'Until', 'Permanent Location',
       'Temporary Location', 'Call Number', 'Call Number Type',
       'Accession Number', 'Temporary Call Number',
       'Temporary Call Number Type', 'Item call number',
       'Item call number type', 'Status', 'RFID Security Status', 'Due back',
       'Item Policy', 'Temporary Item Policy', 'Material Type', 'Copy ID',
       'Description', 'Unnamed: 36', 'Orders', 'Requests', 'Peer Reviewed',
       'Item ID', 'Holdings ID', 'MMS ID'],
      dtype='object')

In [4]:
all_null_cols = lost_df.columns[lost_df.isna().all()].tolist()
all_null_cols

['Inventory Number',
 'Receiving Number',
 'Library Unit',
 'Temporary Library',
 'To Library',
 'Expected Arrival Time',
 'At Library',
 'At',
 'On Hold Expiration Date',
 'Needed By',
 'Until',
 'Temporary Location',
 'Accession Number',
 'Temporary Call Number',
 'Temporary Call Number Type',
 'Item call number',
 'Item call number type',
 'RFID Security Status',
 'Due back',
 'Temporary Item Policy',
 'Unnamed: 36',
 'Peer Reviewed']

In [5]:
lost_df = lost_df.drop(columns=all_null_cols)
lost_df.columns

Index(['Type / Creator / Imprint', 'title', 'Barcode', 'Library',
       'Creation Date', 'Modification Date', 'Process type', 'Due Date',
       'Permanent Location', 'Call Number', 'Call Number Type', 'Status',
       'Item Policy', 'Material Type', 'Copy ID', 'Description', 'Orders',
       'Requests', 'Item ID', 'Holdings ID', 'MMS ID'],
      dtype='object')

In [6]:
lost_df=lost_df.drop(columns=["Library", "Call Number Type", "Item ID", "Holdings ID", "Process type", "Item Policy", "Creation Date"])
lost_df.columns

Index(['Type / Creator / Imprint', 'title', 'Barcode', 'Modification Date',
       'Due Date', 'Permanent Location', 'Call Number', 'Status',
       'Material Type', 'Copy ID', 'Description', 'Orders', 'Requests',
       'MMS ID'],
      dtype='object')

In [7]:
lost_df.dtypes

Type / Creator / Imprint     object
title                        object
Barcode                       int64
Modification Date            object
Due Date                     object
Permanent Location           object
Call Number                  object
Status                       object
Material Type                object
Copy ID                     float64
Description                  object
Orders                        int64
Requests                      int64
MMS ID                        int64
dtype: object

In [8]:
any_null_cols = lost_df.columns[lost_df.isna().any()].tolist()
any_null_cols

['Copy ID', 'Description']

In [9]:
mode = lost_df['Copy ID'].mode().values[0]
lost_df['Copy ID'].fillna(value=mode, inplace=True)
lost_df.dtypes

Type / Creator / Imprint     object
title                        object
Barcode                       int64
Modification Date            object
Due Date                     object
Permanent Location           object
Call Number                  object
Status                       object
Material Type                object
Copy ID                     float64
Description                  object
Orders                        int64
Requests                      int64
MMS ID                        int64
dtype: object

In [10]:
any_null_cols = lost_df.columns[lost_df.isna().any()].tolist()
any_null_cols

['Description']

In [11]:
lost_df["Copy ID"] = lost_df["Copy ID"].astype(int)
lost_df.dtypes

Type / Creator / Imprint    object
title                       object
Barcode                      int64
Modification Date           object
Due Date                    object
Permanent Location          object
Call Number                 object
Status                      object
Material Type               object
Copy ID                      int32
Description                 object
Orders                       int64
Requests                     int64
MMS ID                       int64
dtype: object

In [12]:
lost_df["Copy ID"].unique()

array([0, 2, 3, 1])

In [13]:
lost_df["Modification Date"] = pd.to_datetime(lost_df["Modification Date"])
lost_df["Due Date"] = pd.to_datetime(lost_df["Due Date"])
lost_df.dtypes

Type / Creator / Imprint            object
title                               object
Barcode                              int64
Modification Date           datetime64[ns]
Due Date                    datetime64[ns]
Permanent Location                  object
Call Number                         object
Status                              object
Material Type                       object
Copy ID                              int32
Description                         object
Orders                               int64
Requests                             int64
MMS ID                               int64
dtype: object

In [14]:
lost_df

,Type / Creator / Imprint,title,Barcode,Modification Date,Due Date,Permanent Location,Call Number,Status,Material Type,Copy ID,Description,Orders,Requests,MMS ID
0,"Book By Lawrence, Mark (Ace Books 20170404)",Red Sister,33082012289335,2020-11-08 19:05:43,2020-09-16 22:00:00,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922033313606241
1,"Book By Livesey, Margot (Harper 20160927)",Mercury,33082012283122,2020-11-08 19:04:04,2020-09-16 22:00:00,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922023283606241
2,"Book By Smith, Pamela H., (Ann Arbor : Univers...",Ways of making and knowing : the material cult...,33082011802245,2020-11-08 19:01:33,2020-09-16 22:00:00,Books,AZ101 .W39 2014,Item not in place,Book,0,NaN,0,0,9917370583606241
3,"Book By Csikszentmihalyi, Mihaly. (Oxford ; Ne...",A life worth living : contributions to positiv...,33082009480889,2020-11-08 19:01:30,2020-09-16 22:00:00,Books,BF204.6 .L54 2006,Item not in place,Book,0,NaN,0,0,998483803606241
4,"Book By Ong, Anthony D. (Oxford ; New York : O...",Oxford handbook of methods in positive psychol...,33082009900084,2020-11-08 19:01:23,2020-09-16 22:00:00,Books,BF204.6 .O94 2007,Item not in place,Book,0,NaN,0,0,998635113606241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,"Book By Weldon, Fay. (Head of Zeus 20180401)",Death of a She Devil,33082012492483,2020-11-07 19:02:04,2020-09-16 22:00:00,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9924929003606241
338,"Book By Sharp, Zoë, (Houston : Busted Flush P...",Killer instinct / Zoë Sharp.,33082010926482,2020-10-05 14:54:24,2011-01-04 01:00:00,Recreational Reading,M,Item not in place,Book,0,NaN,0,0,9911598563606241
339,"Book By Paul, Pamela. (Henry Holt & Company 20...",By the Book: Writers on Literature and the Lit...,33082011885943,2020-06-23 02:03:26,2020-02-04 22:00:00,Recreational Reading,N,Item not in place,Book,0,NaN,0,0,9918118073606241
340,"Music By Smith, Jean Edward. (Santa Ana, CA : ...",FDR [sound recording] / by Jean Edward Smith.,33082010194065,2020-06-23 02:01:49,2020-02-03 22:00:00,Recreational Reading,N,Item not in place,Sound Recording,0,NaN,0,0,999363343606241
341,"Book By Obama, Michelle, (Crown Publishing Gro...",Becoming,33082012290283,2020-10-14 10:44:10,2020-01-02 05:00:00,Recreational Reading,N,Item not in place,Book,0,NaN,0,0,9924928363606241

In [15]:
nov_lost_df= lost_df.loc[lost_df["Modification Date"].dt.month >= 11]
nov_lost_df

,Type / Creator / Imprint,title,Barcode,Modification Date,Due Date,Permanent Location,Call Number,Status,Material Type,Copy ID,Description,Orders,Requests,MMS ID
0,"Book By Lawrence, Mark (Ace Books 20170404)",Red Sister,33082012289335,2020-11-08 19:05:43,2020-09-16 22:00:00,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922033313606241
1,"Book By Livesey, Margot (Harper 20160927)",Mercury,33082012283122,2020-11-08 19:04:04,2020-09-16 22:00:00,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922023283606241
2,"Book By Smith, Pamela H., (Ann Arbor : Univers...",Ways of making and knowing : the material cult...,33082011802245,2020-11-08 19:01:33,2020-09-16 22:00:00,Books,AZ101 .W39 2014,Item not in place,Book,0,NaN,0,0,9917370583606241
3,"Book By Csikszentmihalyi, Mihaly. (Oxford ; Ne...",A life worth living : contributions to positiv...,33082009480889,2020-11-08 19:01:30,2020-09-16 22:00:00,Books,BF204.6 .L54 2006,Item not in place,Book,0,NaN,0,0,998483803606241
4,"Book By Ong, Anthony D. (Oxford ; New York : O...",Oxford handbook of methods in positive psychol...,33082009900084,2020-11-08 19:01:23,2020-09-16 22:00:00,Books,BF204.6 .O94 2007,Item not in place,Book,0,NaN,0,0,998635113606241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,"Book By Smith, Desire. (Atglen, PA : Schiffer ...",Fashionable clothing from the Sears catalogs :...,33082010381969,2020-11-08 19:05:11,2020-09-16 22:00:00,Books,TT555 .S62 1998,Item not in place,Book,0,NaN,0,0,9910328073606241
333,"Book By Borsuk, Amaranth, (Cambridge, MA : The...",The book / Amaranth Borsuk.,33082012427471,2020-11-14 19:01:03,2020-09-24 17:00:00,Books,Z4 .B74 2018,Item not in place,Book,0,NaN,0,0,9923787673606241
334,"Book By Dorsheimer, Wesley. (New York : Hippoc...",The newsletter handbook : how to write and pub...,33082005551501,2020-11-08 19:05:24,2020-09-16 22:00:00,Books,Z286.N46 D67 1993,Item not in place,Book,0,NaN,0,0,994906973606241
336,"Book By Walsh, Brighton (Berkley Publishing Gr...",Caged in Winter,33082012284047,2020-11-07 19:01:50,2020-09-16 22:00:00,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9919460473606241
337,"Book By Weldon, Fay. (Head of Zeus 20180401)",Death of a She Devil,33082012492483,2020-11-07 19:02:04,2020-09-16 22:00:00,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9924929003606241

In [16]:
nov_lost_df["Modification Date"] = nov_lost_df["Modification Date"].dt.strftime('%d-%b')
nov_lost_df["Due Date"] = nov_lost_df["Due Date"].dt.strftime('%d-%b')
nov_lost_df

<ipython-input-16-2df7f2c95876>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Modification Date"] = nov_lost_df["Modification Date"].dt.strftime('%d-%b')
<ipython-input-16-2df7f2c95876>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Due Date"] = nov_lost_df["Due Date"].dt.strftime('%d-%b')

,Type / Creator / Imprint,title,Barcode,Modification Date,Due Date,Permanent Location,Call Number,Status,Material Type,Copy ID,Description,Orders,Requests,MMS ID
0,"Book By Lawrence, Mark (Ace Books 20170404)",Red Sister,33082012289335,08-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922033313606241
1,"Book By Livesey, Margot (Harper 20160927)",Mercury,33082012283122,08-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922023283606241
2,"Book By Smith, Pamela H., (Ann Arbor : Univers...",Ways of making and knowing : the material cult...,33082011802245,08-Nov,16-Sep,Books,AZ101 .W39 2014,Item not in place,Book,0,NaN,0,0,9917370583606241
3,"Book By Csikszentmihalyi, Mihaly. (Oxford ; Ne...",A life worth living : contributions to positiv...,33082009480889,08-Nov,16-Sep,Books,BF204.6 .L54 2006,Item not in place,Book,0,NaN,0,0,998483803606241
4,"Book By Ong, Anthony D. (Oxford ; New York : O...",Oxford handbook of methods in positive psychol...,33082009900084,08-Nov,16-Sep,Books,BF204.6 .O94 2007,Item not in place,Book,0,NaN,0,0,998635113606241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,"Book By Smith, Desire. (Atglen, PA : Schiffer ...",Fashionable clothing from the Sears catalogs :...,33082010381969,08-Nov,16-Sep,Books,TT555 .S62 1998,Item not in place,Book,0,NaN,0,0,9910328073606241
333,"Book By Borsuk, Amaranth, (Cambridge, MA : The...",The book / Amaranth Borsuk.,33082012427471,14-Nov,24-Sep,Books,Z4 .B74 2018,Item not in place,Book,0,NaN,0,0,9923787673606241
334,"Book By Dorsheimer, Wesley. (New York : Hippoc...",The newsletter handbook : how to write and pub...,33082005551501,08-Nov,16-Sep,Books,Z286.N46 D67 1993,Item not in place,Book,0,NaN,0,0,994906973606241
336,"Book By Walsh, Brighton (Berkley Publishing Gr...",Caged in Winter,33082012284047,07-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9919460473606241
337,"Book By Weldon, Fay. (Head of Zeus 20180401)",Death of a She Devil,33082012492483,07-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9924929003606241

In [17]:
nov_lost_df["Type / Creator / Imprint"]

0            Book By Lawrence, Mark (Ace Books 20170404)
1              Book By Livesey, Margot (Harper 20160927)
2      Book By Smith, Pamela H., (Ann Arbor : Univers...
3      Book By Csikszentmihalyi, Mihaly. (Oxford ; Ne...
4      Book By Ong, Anthony D. (Oxford ; New York : O...
                             ...
331    Book By Smith, Desire. (Atglen, PA : Schiffer ...
333    Book By Borsuk, Amaranth, (Cambridge, MA : The...
334    Book By Dorsheimer, Wesley. (New York : Hippoc...
336    Book By Walsh, Brighton (Berkley Publishing Gr...
337         Book By Weldon, Fay. (Head of Zeus 20180401)
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [18]:
nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"(Book By)", "")
nov_lost_df["Type / Creator / Imprint"]

<ipython-input-18-0ad5ce3283c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"(Book By)", "")

0                    Lawrence, Mark (Ace Books 20170404)
1                      Livesey, Margot (Harper 20160927)
2       Smith, Pamela H., (Ann Arbor : University of ...
3       Csikszentmihalyi, Mihaly. (Oxford ; New York ...
4       Ong, Anthony D. (Oxford ; New York : Oxford U...
                             ...
331     Smith, Desire. (Atglen, PA : Schiffer Pub Ltd...
333     Borsuk, Amaranth, (Cambridge, MA : The MIT Pr...
334     Dorsheimer, Wesley. (New York : Hippocrene Bo...
336     Walsh, Brighton (Berkley Publishing Group 201...
337                 Weldon, Fay. (Head of Zeus 20180401)
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [19]:
nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"(Music By)","")
nov_lost_df["Type / Creator / Imprint"]

<ipython-input-19-a0b31ece3941>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"(Music By)","")

0                    Lawrence, Mark (Ace Books 20170404)
1                      Livesey, Margot (Harper 20160927)
2       Smith, Pamela H., (Ann Arbor : University of ...
3       Csikszentmihalyi, Mihaly. (Oxford ; New York ...
4       Ong, Anthony D. (Oxford ; New York : Oxford U...
                             ...
331     Smith, Desire. (Atglen, PA : Schiffer Pub Ltd...
333     Borsuk, Amaranth, (Cambridge, MA : The MIT Pr...
334     Dorsheimer, Wesley. (New York : Hippocrene Bo...
336     Walsh, Brighton (Berkley Publishing Group 201...
337                 Weldon, Fay. (Head of Zeus 20180401)
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [20]:
nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\(\[].*?[\)\]]","")
nov_lost_df["Type / Creator / Imprint"]

<ipython-input-20-97dd2a18537f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\(\[].*?[\)\]]","")

0                  Lawrence, Mark
1                 Livesey, Margot
2              Smith, Pamela H., )
3       Csikszentmihalyi, Mihaly.
4                 Ong, Anthony D.
                  ...
331                Smith, Desire.
333            Borsuk, Amaranth, )
334           Dorsheimer, Wesley.
336               Walsh, Brighton
337                  Weldon, Fay.
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [21]:
nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\d]","")
nov_lost_df["Type / Creator / Imprint"]

<ipython-input-21-35d1e9845d52>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\d]","")

0                  Lawrence, Mark
1                 Livesey, Margot
2              Smith, Pamela H., )
3       Csikszentmihalyi, Mihaly.
4                 Ong, Anthony D.
                  ...
331                Smith, Desire.
333            Borsuk, Amaranth, )
334           Dorsheimer, Wesley.
336               Walsh, Brighton
337                  Weldon, Fay.
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [22]:
nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\)]","")
nov_lost_df["Type / Creator / Imprint"]

<ipython-input-22-3ee79621327d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\)]","")

0                  Lawrence, Mark
1                 Livesey, Margot
2               Smith, Pamela H.,
3       Csikszentmihalyi, Mihaly.
4                 Ong, Anthony D.
                  ...
331                Smith, Desire.
333             Borsuk, Amaranth,
334           Dorsheimer, Wesley.
336               Walsh, Brighton
337                  Weldon, Fay.
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [23]:
nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\.]","")
nov_lost_df["Type / Creator / Imprint"]

<ipython-input-23-e067cd8bbe33>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\.]","")

0                 Lawrence, Mark
1                Livesey, Margot
2               Smith, Pamela H,
3       Csikszentmihalyi, Mihaly
4                 Ong, Anthony D
                  ...
331                Smith, Desire
333            Borsuk, Amaranth,
334           Dorsheimer, Wesley
336              Walsh, Brighton
337                  Weldon, Fay
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [24]:
nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\,]", "")
nov_lost_df["Type / Creator / Imprint"]

<ipython-input-24-826806b12ca9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_lost_df["Type / Creator / Imprint"] = nov_lost_df["Type / Creator / Imprint"].str.replace(r"[\,]", "")

0                 Lawrence Mark
1                Livesey Margot
2                Smith Pamela H
3       Csikszentmihalyi Mihaly
4                 Ong Anthony D
                 ...
331                Smith Desire
333             Borsuk Amaranth
334           Dorsheimer Wesley
336              Walsh Brighton
337                  Weldon Fay
Name: Type / Creator / Imprint, Length: 244, dtype: object

In [25]:
nov_lost_df["Type / Creator / Imprint"][0]

' Lawrence Mark '

In [26]:
nov_lost_df

,Type / Creator / Imprint,title,Barcode,Modification Date,Due Date,Permanent Location,Call Number,Status,Material Type,Copy ID,Description,Orders,Requests,MMS ID
0,Lawrence Mark,Red Sister,33082012289335,08-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922033313606241
1,Livesey Margot,Mercury,33082012283122,08-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9922023283606241
2,Smith Pamela H,Ways of making and knowing : the material cult...,33082011802245,08-Nov,16-Sep,Books,AZ101 .W39 2014,Item not in place,Book,0,NaN,0,0,9917370583606241
3,Csikszentmihalyi Mihaly,A life worth living : contributions to positiv...,33082009480889,08-Nov,16-Sep,Books,BF204.6 .L54 2006,Item not in place,Book,0,NaN,0,0,998483803606241
4,Ong Anthony D,Oxford handbook of methods in positive psychol...,33082009900084,08-Nov,16-Sep,Books,BF204.6 .O94 2007,Item not in place,Book,0,NaN,0,0,998635113606241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,Smith Desire,Fashionable clothing from the Sears catalogs :...,33082010381969,08-Nov,16-Sep,Books,TT555 .S62 1998,Item not in place,Book,0,NaN,0,0,9910328073606241
333,Borsuk Amaranth,The book / Amaranth Borsuk.,33082012427471,14-Nov,24-Sep,Books,Z4 .B74 2018,Item not in place,Book,0,NaN,0,0,9923787673606241
334,Dorsheimer Wesley,The newsletter handbook : how to write and pub...,33082005551501,08-Nov,16-Sep,Books,Z286.N46 D67 1993,Item not in place,Book,0,NaN,0,0,994906973606241
336,Walsh Brighton,Caged in Winter,33082012284047,07-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9919460473606241
337,Weldon Fay,Death of a She Devil,33082012492483,07-Nov,16-Sep,Recreational Reading,F,Item not in place,Book,0,NaN,0,0,9924929003606241

In [29]:
nov_final = nov_lost_df[["Barcode","title", "Type / Creator / Imprint", "Call Number","Permanent Location", "Material Type", "Copy ID", "Description", "Orders", "Requests", "Modification Date", "Due Date"]]
nov_final = nov_final.rename(columns={"Type / Creator / Imprint": "Author"})
nov_final

,Barcode,title,Author,Call Number,Permanent Location,Material Type,Copy ID,Description,Orders,Requests,Modification Date,Due Date
0,33082012289335,Red Sister,Lawrence Mark,F,Recreational Reading,Book,0,NaN,0,0,08-Nov,16-Sep
1,33082012283122,Mercury,Livesey Margot,F,Recreational Reading,Book,0,NaN,0,0,08-Nov,16-Sep
2,33082011802245,Ways of making and knowing : the material cult...,Smith Pamela H,AZ101 .W39 2014,Books,Book,0,NaN,0,0,08-Nov,16-Sep
3,33082009480889,A life worth living : contributions to positiv...,Csikszentmihalyi Mihaly,BF204.6 .L54 2006,Books,Book,0,NaN,0,0,08-Nov,16-Sep
4,33082009900084,Oxford handbook of methods in positive psychol...,Ong Anthony D,BF204.6 .O94 2007,Books,Book,0,NaN,0,0,08-Nov,16-Sep
...,...,...,...,...,...,...,...,...,...,...,...,...
331,33082010381969,Fashionable clothing from the Sears catalogs :...,Smith Desire,TT555 .S62 1998,Books,Book,0,NaN,0,0,08-Nov,16-Sep
333,33082012427471,The book / Amaranth Borsuk.,Borsuk Amaranth,Z4 .B74 2018,Books,Book,0,NaN,0,0,14-Nov,24-Sep
334,33082005551501,The newsletter handbook : how to write and pub...,Dorsheimer Wesley,Z286.N46 D67 1993,Books,Book,0,NaN,0,0,08-Nov,16-Sep
336,33082012284047,Caged in Winter,Walsh Brighton,F,Recreational Reading,Book,0,NaN,0,0,07-Nov,16-Sep
337,33082012492483,Death of a She Devil,Weldon Fay,F,Recreational Reading,Book,0,NaN,0,0,07-Nov,16-Sep

In [31]:
nov_final.to_csv("nov_final.csv")